* {
    margin: 0;padding: 0;box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 4rem;
    font-family: poppins;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.4px;
}
img {
    height: 700px;
    width: auto;
    display: block;
    margin: auto;
}
.btn {
    text-align: center;
    border: none;
    padding: 9px 25px;
    color: #fff;
    background-color: blue;
    font-family: poppins;
    letter-spacing: 0.4px;
    outline: none;
    transition: all .4s ease-in-out;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    font-size: 1.2rem;
}
.btn:hover{
    background-color: blueviolet;
    color: aqua;
}